@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Shabnam";
  src: url("./assets/font/Shabnam.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shabnam";
  src: url("./assets/font/Shabnam-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Shabnam";
  src: url("./assets/font/Shabnam-Light.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Shabnam";
  src: url("./assets/font/Shabnam-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Shabnam";
  src: url("./assets/font/Shabnam-Thin.ttf");
  font-weight: thin;
  font-style: normal;
}

body {
  @apply bg-gray-900 text-white font-sans;
}

.active {
  @apply text-blue-400 font-bold;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
